# Godot 4
.import/
.godot/
mono/
Godot_v4.5.1-stable_win64.exe/
# Export and temp
export/
*.tmp
*.temp
*.log
# OS artifacts
Thumbs.db
.DS_Store
# Local user files
res://user/
# Python/Notebook caches (if any)
__pycache__/
.ipynb_checkpoints/
